
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 52,6%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif ; 
}

body {
    background-color: #f9f9f9;   
}

header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Aqui começa CSS descrição superior HEADER */

.container--top { 
    height: 120px;
    text-align: center;
    width: 100%;
    background-color: black;
    
}

.container--top p { 
    height:60px;
    color:rgb(255, 255, 255);
    padding: 15px;
    font-size: 1rem;
}

.container--top h2{
    background-color: white;
    height: 60px;
    padding:8px;
    font-size: 2.2rem;
    
}

.container--top span {
    font-size: 2.2rem;
    color: orange;
    font-weight: 700;
    text-shadow: 1px 2px 5px rgb(190, 190, 190);
}

/* Aqui Fecha CSS descrição superior HEADER */

/* Aqui começa CSS Banner */

.container--banner { 
    width: 100vw;
    height: 395px;
    display: flex;
    align-items: center;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner--description{
    margin-left: 100px;
    color: #f9f9f9;
    
}

.banner--description h2{
    font-size: 3rem;
    margin-bottom: 15px;
    text-shadow:  1px 1px 10px rgba(24, 24, 24, 0.897);
}

.banner--description p{
    font-size: 1rem;
    text-shadow:  1px 1px 10px rgba(24, 24, 24, 0.897);
}

/* Aqui termina CSS Banner */

.container--main {
display: flex;
justify-content: center;   
}

.description--main p{
text-align: center;
background-color: #f9f9f9;

font-size: 1.2rem;
margin-top: 10px;
margin-bottom: 30px;
}

.description--main  h2{
margin-top: 20px;
text-align: center;
font-size: 2rem; 
}

.container--itens, ul {
list-style: none;
margin: 0 auto;

max-width: 1900px;
height: auto;

background-color: #f9f9f9;
display: flex;
flex-wrap: wrap;

justify-content: center;
align-items: center;
}


li {
display: flex;
justify-content: center;
align-items: center;
margin: 10px 20px ;
width: 390px;
height: 302px;
background-color: #ebe9ea;
box-shadow: 1px 1px 10px rgb(199, 199, 199);

}

li:hover {
    box-shadow: 1px 1px 12px rgb(155, 155, 155);
}

li img{
    width: 250px;
    height: 150px;
}

.footer {
    background-color: black;
    height: 60px;
    
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
}

.footer p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-top: 15px;
}

.footer a {
    color: rgb(78, 128, 221);
    text-decoration: none;
}

.footer a:hover {
    color: rgb(224, 171, 71);
}

@media (max-width: 768px) { 
 
    .banner--description {
    margin: 15px;
    text-align: center;
    
    }
 }
 